<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="AllowedIps" value="80.79.254.113;193.124.114.39" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="AdminPassword" value="9xvyVqm3Gm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Subscriptions" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<connectionStrings>
		<add name="Db" connectionString="Data source=.;Initial catalog=Comics;User ID=sa;Password=h9RdaRNT4Y" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>