@model IPagedList<object>

@if (Model.PageCount > 1)
{
	<div class="container-fluid">
		<div class="row">
			@Html.PagedListPager(Model, page => Url.Action(null, new { page }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = 3 })
		</div>
	</div>
}
