@model string

@{
	var name = Html.ObjectToHtmlAttributes(ViewData["htmlAttributes"])["name"] as string;
}

@Html.HiddenFor(x => x)
@if (!string.IsNullOrEmpty(Model))
{
	<div class="form-control-static"><a href="@Model">@Model</a></div>
}
<input type="file" name="@name" />
